body {
    background-color: #262626;
    color: white;
    font-family: "Roboto", sans-serif;
}

#Goldmine-div {
    background-color: #dff208;
}

#Diamine-div {
    background-color: rgb(0, 170, 255);
}

#Silbermine-div {
    background-color: #636363;
}