body {
    background-color: #262626;
    color: white;
    font-family: "Roboto", sans-serif;
}

.gold {
    background-color: #FFD700;
}

.dia {
    background-color: #00d0ff;
}

.silver {
    background-color: #C0C0C0;
}