body {
    background-color: #262626;
    color: white;
    font-family: "Roboto", sans-serif;
}

#Goldmine-div {
    background-color: #FFD700;
}

#Diamine-div {
    background-color: #B9F2FF;
}

#Silbermine-div {
    background-color: #C0C0C0;
}